* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(233, 47%, 7%);
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
@media (min-width: 600px) {
  img {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.container {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row-reverse;
    margin: 5rem auto;
    width: 70%;
  }
}

.img-wrap {
  flex: 1 1 50%;
  position: relative;
}

.img-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(278, 78%, 31%, 0.527);
  border-radius: 0.5rem 0.5rem 0 0;
}
@media (min-width: 600px) {
  .img-wrap::after {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.main {
  flex: 1 1 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 600px) {
  .main {
    padding: 5%;
  }
}

h1 {
  color: hsl(0, 0%, 100%);
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}
@media (min-width: 600px) {
  h1 {
    text-align: left;
  }
}
h1 span {
  color: hsl(277, 64%, 61%);
  display: inline;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
  line-height: 1.7;
  font-size: 15px;
}
@media (min-width: 600px) {
  p {
    text-align: left;
    margin-bottom: 2.3rem;
  }
}

.stat h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  margin-bottom: 1rem;
}
.stat h2 span {
  color: hsla(0, 0%, 100%, 0.336);
  font-size: 14px;
}
@media (min-width: 600px) {
  .stat {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .stat h2 {
    display: inline;
    line-height: 1;
  }
}